<!DOCTYPE html>
<html>
  <head>
      {% if title %}
      <title>{{ title }} - Coffee Log</title>
      {% else %}
      <title> Coffee Log </title>
      {% endif %}

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="nav-link text-light px-2" href="{{ url_for('new_event') }}">Log a New Event</a>
    <a class="nav-link text-light px-2" href="{{ url_for('roasted_coffees') }}">Roasted Coffees</a>
    <a class="nav-link text-light px-2" href="{{ url_for('roasts') }}">Roasts</a>
    <a class="nav-link text-light px-2" href="{{ url_for('tastings') }}">Tastings</a>
    <a class="nav-link text-light px-2" href="{{ url_for('green_coffees') }}">Green Coffees</a>
    <a class="nav-link text-light px-2" href="{{ url_for('index') }}">Home</a>
  </nav>

  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
