{% extends "base.html" %}
{% block content %}
<div class='jumbotron jumbotron-fluid text-center'>
  <h3 class='font-weight-light'>Green Coffees</h3>
</div>
<div class="container">
  <div class='alert alert-success text-center'>
    Click the id number of a roast to get the full profile
  </div>
  <table class="table">
    <thead>
      <tr>
        <th class='align-middle text-center' scope="col">Green Coffee ID No.</th>
        <th class='align-middle text-center' scope="col">Source</th>
        <th class='align-middle text-center' scope="col">Origin Country</th>
        <th class='align-middle text-center' scope="col">Farm Information</th>
        <th class='align-middle text-center' scope="col">Date Acquired</th>
      </tr>
    </thead>
    <tbody>
      {% for coffee in gcs %}
       <tr>
         <td class='align-middle text-center'><a class='link' href="{{ url_for('green_profile', id=coffee.id) }}">{{ coffee.id }}</a></td>
         <td class='align-middle text-center'>{{ coffee.source  }}</td>
         <td class='align-middle text-center'>{{ coffee.origin_country }}</td>
         <td class='align-middle text-center'>{{ coffee.farm_information }}</td>
         <td class='align-middle text-center'>{{ coffee.date_acquired}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
