{% extends "base.html" %}
{% block content %}
  <div class='jumbotron jumbotron-fluid text-center'>
    <h3 class='font-weight-light'>Welcome to the Coffee Log</h3>
  </div>
  <div class="container-fluid py-0">
    <div class="row">
      <div class="col"></div>
      <div class="col-6 text-lg">You can enter a new event, view previous tastings and roasts, or view a list of your green
      and roasted coffees by selecting an option from the menu above.
    </div>
      <div class="col"></div>
  </div>

  </div>

{% endblock %}
