{% extends "base.html" %}
{% block content %}
<div class='jumbotron jumbotron-fluid text-center'>
  <h3 class='font-weight-light'>Enter your new Roasted Coffee</h3>
</div>
<div class='container'>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.roaster.label }}<br>
      {{ form.roaster }}
      {% for error in form.roaster.errors %}
      <span style="color: red;">{{ error }} </span>
      {% endfor %}
      </p>
    <p>
        {{ form.coffee_name.label }}<br>
        {{ form.coffee_name }}
        {% for error in form.coffee_name.errors %}
        <span style="color: red;">{{ error }} </span>
        {% endfor %}
      </p>
    <p>
      {{ form.origin_country.label }}<br>
      {{ form.origin_country }}
      {% for error in form.origin_country.errors %}
      <span style="color: red;">{{ error }} </span>
      {% endfor %}
      </p>
    <p>
      {{ form.farm_information.label }}<br>
      {{ form.farm_information }}
      {% for error in form.farm_information.errors %}
      <span style="color: red;">{{ error }} </span>
      {% endfor %}
      </p>
    <p>
      {{ form.roast_date.label }}<br>
      <i>Year-Month-Date format</i><br>
      {{ form.roast_date }}
      {% for error in form.roast_date.errors %}
      <span style="color: red;">{{ error }} </span>
      {% endfor %}
      </p>
    <p>
      {{ form.tasting_notes.label }}<br>
      {{ form.tasting_notes }}
      {% for error in form.tasting_notes.errors %}
      <span style="color: red;">{{ error }} </span>
      {% endfor %}
      </p>
    <p>
      {{ form.roast_session.label }}<br>
      {{ form.roast_session }}
      {% for error in form.roast_session.errors %}
      <span style="color: red;">{{ error }} </span>
      {% endfor %}
      </p>

    <p>
      {{ form.submit() }}
      {% for error in form.submit.errors %}
      <span style="color: red;">{{ error }} </span>
      {% endfor %}
      </p>
    </form>
</div>
{% endblock %}
